<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <link href="https://www.monta.ir/apaman/global.css" rel="stylesheet" type="text/css">
                <title>پرداخت ناموفق</title>
</head>
<body style="background: #fff 0% 0% no-repeat padding-box;">


<div style="
    text-align:center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 50;


">
    <div style="
    flex: 1;
     display: flex;
    text-align:center;
      height: 100%;
      width: 100%;
      flex-direction: column;



   ">
        <div style="
          height: 100%;
          width: 100%;
          display: flex;
          flex: 1;
          text-align:center;
          flex-direction: column;
          text-align: center;
           display: inline-block;
          margin-top: 36px;
         ">
            <img alt="IOS Download"
                 src="https://www.monta.ir/apaman/images/error.png"
                 style="
                                 margin-top: 55px;
                                text-align: center;
                                display: inline-block;
                                width: 55px;
                                height: 55px;"

            />
            <div>
                <p style="
                  margin-top: 10px;
                  text-align: center;
                  font: Bold 18px/41px IRANSansWeb_Bold;

                  color: #444;
                  opacity: 1;
                "
                >خطای پرداخت</p>

            </div>
            <div>
                <p style="
                  margin-top: -20px;
                  text-align: center;

                  color: #999;
                  opacity: 1;
                "
                >تراکنش بانکی انجام نشد.</p>

            </div>

            <div style="margin-left: 15px; margin-right: 15px; margin-top: 45px;">
                <div style="
       flex-direction: row;
        display: flex;

        justify-content: space-between;

        height: 40px;

     ">
                    <p style="
                  text-align: center;
                  color: #444;
                  opacity: 1;
                  font-size: 14px;
                "
                    >شماره فاکتور </p>

                    <p style="
                  text-align: center;
                  color: #999;
                  opacity: 1;
                   font-size: 14px;
                "
                    ><%= payResult.OrderId %></p>


                </div>
                <div style="
                   width: 100%;
                   height: 1px;
                   background-color: #eee;
                   margin-top: 5px;
               "></div>

                <div style="
                    flex-direction: row;
                    display: flex;
                     margin-top: 0px;
                    justify-content: space-between;
                    margin-left: 5px;
                    margin-right: 5px;
                    height: 40px;

             ">
                    <p style="
                  text-align: center;
                  color: #666;
                  opacity: 1;
                  font-size: 14px;
                "
                    >شماره پیگیری </p>

                    <p
                        style="
                  text-align: center;
                  color: #666;
                  opacity: 1;
                   font-size: 14px;
                "
                    ><%= payResult.RRN %></p>


                </div>
                <div style="
           width: 100%;
           height: 1px;
           background-color: #eee;
            margin-top: 5px;
       "></div>


                <div style="
           flex-direction: row;
            display: flex;
             margin-top: 0px;
            justify-content: space-between;
            margin-left: 5px;
            margin-right: 5px;
            height: 40px;

     ">
                    <p
                        style="
                  text-align: center;
                  color: #666;
                  opacity: 1;
                  font-size: 14px;
                "
                    >مبلغ تراکنش </p>

                    <p
                        style="
                  text-align: center;
                  color: #666;
                  opacity: 1;
                   font-size: 14px;
                "
                    ><%= payResult.Amount %> ریال</p>


                </div>
                <div style="
           width: 100%;
           height: 1px;
           background-color: #eee;
            margin-top: 5px;
       "></div>
            </div>


        </div>
        <div style="
          text-align:center;
          height: 70px;
          width: 100%;

       ">
            <a style="text-decoration:none"   href="https://treenetgram.com/store/payments?OrderId=<%= payResult.OrderId%>&Token=<%=payResult.Token%>&status=<%=payResult.status%>">
                <div style="
                    margin-top: 1px;
                    background:#ff5722 0% 0% no-repeat padding-box;
                    border-radius: 10px;
                    opacity: 1;
                    padding:10px;
                    margin-left: 16px;
                    margin-right: 16px;
                    font: Bold 16px/28px IRANYekan;
                    color: #fff;
                 ">مشاهده شد
                </div>
            </a>
        </div>

    </div>


</div>

</body>
</html>
